@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

h1 {
  text-align: center;
  height: 200px;
  text-decoration: underline;
}

.card {
  width:15rem;
  height:10rem;
  background-color: #DBB234;
  border-radius: 5%;
  box-shadow: 10px 10px 40px -28px #000;
  text-align: center
}

.paginate {
  margin-left: 40%;
  padding-bottom: 2%;
  padding-top: 2%;
}
