<div class="background">
        <div class="btn-bg Pokemon">
      <div class="btn-group">
        <div class="btn ball">
          <button>
            <div class="pokemon-ball"></div>
            <a
              ><%= link_to "Bienvenido a la Pokedex", index_path %>
              <span data-letters="Go!"></span>
              <span data-letters="Go!"></span>
            </a>
          </button>
        </div>
      </div>
    </div>
</div>
